:root {
    --primary: #00a1c7;
    --border: #444;
    --bg: #dcdcdc;
    --fg: linear-gradient(135deg, var(--bg), var(--primary));
}

body {
    background-color: var(--bg);
    background-image: url("/rss/pattern.svg");
    background-repeat: repeat;
    background-size: auto;
    
    width: 100vw;
    height: 100vh;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.joke-content {
    /* border */
    border: 2px solid var(--border);
    border-radius: 8px;
    box-shadow: 10px 10px 10px var(--border);

    /* gradient */
    background-image: var(--fg);

    /* sizing */
    max-width: 50rem;
    min-width: 30rem;

    /* positioning */
    margin: 0 auto;
    padding: 1rem;
}