:root {
    --primary: #00a1c7;
    --border: #444;
    --bg: #dcdcdc;
    --fg: linear-gradient(135deg, var(--bg), var(--primary));
}

body {
    background-color: var(--bg);
    background-image: url("/rss/pattern.svg");
    background-repeat: repeat;
    background-size: auto;
    
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

img.icon {
    height: 1.75rem;
    padding-right: 0;
}

span.col-1 {
    padding-right: 3rem;
}

.joke-content {
    /* border */
    border: 2px solid var(--border);
    border-radius: 8px;
    box-shadow: 10px 10px 10px var(--border);

    /* gradient */
    background-image: var(--fg);

    /* sizing */
    max-width: 50rem;
    min-width: 30rem;

    /* positioning */
    margin: 2rem auto;
    padding: 1rem;

    /* transition */
    transition: transform 1s ease, box-shadow 1s ease;
}

.joke-content:hover {
    transform: scale(1.03);
    box-shadow: 15px 15px 20px var(--border);
}

.joke-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 0 auto;
}

.joke-link:hover {
    text-decoration: none;
    color: inherit;
}