:root {
    --primary: #007BFF;
}

#intro {
    margin: 6rem;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem;
}

body {
    background-color: #DCDCDC;
    height: 100%;
}

footer p {
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0;
}