:root {
    --primary: #007BFF;
}

body {
    background-color: #DCDCDC;
}

header {
    margin: 6rem;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem;
}

footer p {
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0;
}

#posts .row {
    margin-bottom: 5rem;
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

a:hover .card {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

#post-image {
    width: 100%;
    max-width: 80rem;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
}